@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.about__block1, .about__block2, .about__block3, .about__block4 {
  color: white;
  font-size: 32px;
  line-height: 33.75px;
  font-weight: bold; }

.health__physical, .health__mental, .health__nutrition, .sport__gymn, .sport__crossfit, .sport__aerobics {
  width: 480px;
  height: 480px;
  display: inline-block; }

.health__physical, .health__mental, .health__nutrition, .sport__gymn, .sport__crossfit, .sport__aerobics {
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  color: #fff; }

.text__plans_title, .text__loss_title, .text__mental_title, .text__training_title, .text__work_title, .text__cardio_title {
  display: inline-block;
  width: 234px;
  height: 36px;
  margin-top: 55px;
  margin-left: 105px;
  margin-right: 141px;
  color: #22356F;
  font-size: 28px;
  line-height: 32.81px; }

.text__plans, .text__loss, .text__mental, .text__training, .text__work, .text__cardio {
  width: 480px;
  height: 240px; }

.text__plans_paragpraph, .text__loss_paragpraph, .text__mental_paragpraph, .text__training_paragpraph, .text__work_paragpraph, .text__cardio_paragpraph {
  display: inline-block;
  margin-top: 22px;
  margin-left: 105px;
  margin-right: 77px;
  margin-bottom: 37px;
  width: 298px;
  height: 84px;
  color: rgba(34, 53, 111, 0.5);
  font-size: 16px;
  line-height: 25.31px; }

body {
  font-family: "Larsseit"; }

.header {
  background-image: url(../img/bg.png);
  width: 1440px;
  margin: 0 auto; }
  .header__top {
    display: inline-block;
    margin-top: 27px;
    margin-left: 179px;
    margin-bottom: 164px; }
  .header__logo {
    display: inline-block;
    color: #62D0DF;
    font-size: 24px;
    line-height: 27px;
    height: 27px; }
  .header__logo-top {
    margin-right: 325px; }
  .header__nav {
    display: inline-block; }
  .header__list-item {
    width: 52px;
    display: inline-block;
    margin-right: 30px; }
  .header__list-link:hover {
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #22356F; }
  .header__list-link {
    display: inline-block;
    color: #22356F;
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px; }
  .header__btn {
    display: inline-block;
    margin-left: 273px;
    background-color: #62D0DF;
    padding: 19px 30px 19px 30px;
    width: 150px;
    height: 50px;
    border-radius: 50px; }
  .header__btn:hover {
    background-color: #138AFA;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .header__btn-press {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 600; }
  .header__bottom {
    margin-left: 179px; }
  .header__bottom-logo {
    color: #62D0DF;
    font-size: 24px;
    line-height: 27px;
    height: 27px;
    height: 64px; }
  .header__title {
    color: #22356F;
    font-size: 48px;
    line-height: 54px;
    width: 484px;
    height: 167px;
    margin-bottom: 19px; }
  .header__paragraph {
    color: #22356F;
    font-size: 24px;
    line-height: 42px;
    width: 469px;
    height: 161px;
    margin-bottom: 66px; }
  .header__btn-1 {
    margin-bottom: 85px;
    display: inline-block;
    text-align: center; }
  .header__btn-1-link, .header__btn-2-link {
    color: #FAB63E;
    font-size: 16px;
    line-height: 23.44px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px 30px; }
  .header__btn-1-link:hover, .header__btn-2-link:hover {
    color: #fff;
    background-color: #F9B640;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .header__btn-2 {
    display: inline-block; }

.wrapper {
  width: 1440px;
  margin: 0 auto; }

.content {
  position: relative; }
  .content__left {
    height: 604px;
    display: inline-block;
    width: 915px;
    background: #62D0DF; }
  .content__article {
    margin-top: 151px;
    margin-left: 178px;
    margin-bottom: 92px;
    display: inline-block;
    position: relative; }
  .content__title {
    letter-spacing: 1.8px;
    margin-bottom: 75px;
    color: white;
    font-size: 36px;
    line-height: 51px;
    font-weight: bold;
    width: 555px; }
  .content__text {
    height: 235px;
    color: white;
    width: 555px; }
  .content__subtitle {
    letter-spacing: 1.1px;
    font-size: 22px;
    color: white;
    line-height: 35px;
    font-weight: 600; }
  .content__paragraph {
    line-height: 35px;
    font-size: 20px; }
  .content__right {
    position: absolute;
    top: 0px;
    right: 0px; }

.about {
  width: 1440px;
  padding-bottom: 120px;
  margin: 0 auto; }
  .about__top {
    color: #fff;
    position: relative; }
  .about__left-title {
    display: inline-block;
    text-transform: uppercase;
    margin: 156px 0px 115px 106px;
    height: 210px;
    width: 93px;
    color: #22356F;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em; }
  .about__text {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    margin-top: 156px;
    margin-right: 424px;
    margin-left: 225px;
    margin-bottom: 115px;
    width: 592px;
    color: #22356F;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em; }
  .about__subtitle {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
    margin-bottom: 24px; }
  .about__bottom {
    width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .about__block-border {
    display: inline-block;
    width: 255px;
    height: 72px;
    border-bottom: 1px solid #fff;
    margin: 0 52.5px; }
  .about__block1-title {
    display: inline-block;
    width: 232px;
    margin-top: 23px;
    margin-left: 54px; }
  .about__block2-title {
    display: inline-block;
    width: 230px;
    margin-top: 23px;
    margin-left: 54px; }
  .about__block3-title {
    display: inline-block;
    width: 218px;
    margin-top: 23px;
    margin-left: 54px; }
  .about__block4-title {
    display: inline-block;
    width: 214px;
    margin-top: 23px;
    margin-left: 54px; }
  .about__block-title::before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #E9B730;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px; }
  .about__block1 {
    width: 360px;
    height: 360px;
    background: #FFE2DE; }
  .about__block2 {
    width: 360px;
    height: 360px;
    background: #C4E769; }
  .about__block3 {
    width: 360px;
    height: 360px;
    background: #62D0DF; }
  .about__block4 {
    width: 360px;
    height: 360px;
    background: #0052C1; }

.health {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .health__physical {
    position: relative;
    background: #22356F; }
    .health__physical_point {
      position: absolute;
      top: 135px;
      left: 72px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #E9B730;
      margin-top: 10px;
      margin-right: 15px;
      margin-bottom: 10px; }
    .health__physical_border {
      display: inline-block;
      width: 340px;
      height: 96px;
      border-bottom: 1px solid #fff;
      margin: 0 70px;
      margin-bottom: 30px; }
    .health__physical .health__title {
      width: 157px;
      height: 72px;
      margin-left: 104px; }
  .health__mental {
    position: relative;
    background: #0052C1; }
    .health__mental_point {
      position: absolute;
      top: 135px;
      left: 72px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #E9B730;
      margin-top: 10px;
      margin-right: 15px;
      margin-bottom: 10px; }
    .health__mental_border {
      display: inline-block;
      width: 340px;
      height: 96px;
      border-bottom: 1px solid #fff;
      margin: 0 70px;
      margin-bottom: 30px; }
    .health__mental .health__title {
      width: 157px;
      height: 72px;
      margin-left: 104px; }
  .health__nutrition {
    position: relative;
    background: url(../img/nutrition.png); }
    .health__nutrition_point {
      position: absolute;
      top: 135px;
      left: 72px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #E9B730;
      margin-top: 10px;
      margin-right: 15px;
      margin-bottom: 10px; }
    .health__nutrition_border {
      display: inline-block;
      width: 340px;
      height: 96px;
      border-bottom: 1px solid #fff;
      margin: 0 70px;
      margin-bottom: 30px; }
    .health__nutrition .health__title {
      width: 157px;
      height: 72px;
      margin-left: 104px; }

.sport {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px; }
  .sport__gymn {
    position: relative;
    background: #62D0DF; }
    .sport__gymn_point {
      position: absolute;
      top: 135px;
      left: 72px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #E9B730;
      margin-top: 10px;
      margin-right: 15px;
      margin-bottom: 10px; }
    .sport__gymn_border {
      display: inline-block;
      width: 340px;
      height: 96px;
      border-bottom: 1px solid #fff;
      margin: 0 70px;
      margin-bottom: 30px; }
    .sport__gymn_title {
      width: 157px;
      height: 72px;
      margin-left: 104px; }
  .sport__crossfit {
    position: relative;
    background: #DEE1FF; }
    .sport__crossfit_point {
      position: absolute;
      top: 135px;
      left: 72px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #E9B730;
      margin-top: 10px;
      margin-right: 15px;
      margin-bottom: 10px; }
    .sport__crossfit_border {
      display: inline-block;
      width: 340px;
      height: 96px;
      border-bottom: 1px solid #fff;
      margin: 0 70px;
      margin-bottom: 30px; }
    .sport__crossfit_title {
      width: 157px;
      height: 72px;
      margin-left: 104px; }
  .sport__aerobics {
    position: relative;
    background: #8F00FF; }
    .sport__aerobics_point {
      position: absolute;
      top: 135px;
      left: 72px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #E9B730;
      margin-top: 10px;
      margin-right: 15px;
      margin-bottom: 10px; }
    .sport__aerobics_border {
      display: inline-block;
      width: 340px;
      height: 96px;
      border-bottom: 1px solid #fff;
      margin: 0 70px;
      margin-bottom: 30px; }
    .sport__aerobics_title {
      width: 157px;
      height: 72px;
      margin-left: 104px; }

.text__top {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.text__bottom {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px; }

.knowledge {
  margin: 0 auto;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .knowledge__right-side-title {
    margin-left: 106px;
    text-transform: uppercase;
    margin-top: 103px;
    color: #22356F;
    font-size: 16px;
    line-height: 13px;
    width: 217px;
    height: 20px; }
  .knowledge__right-side-paragraph {
    color: #22356F;
    font-size: 36px;
    line-height: 55px;
    width: 676px;
    height: 215px;
    font-weight: 700;
    margin-top: 225px;
    margin-left: 106px; }
  .knowledge__right-side-footer {
    color: #FAB63E;
    font-size: 16px;
    line-height: 42px;
    width: 518px;
    height: 43px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 106px;
    margin-top: 152px;
    margin-bottom: 42px; }

.contact {
  margin: 0 auto;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .contact__left-side {
    width: 960px;
    background: #22356F; }
  .contact__left-side-title {
    color: #fff;
    font-size: 16px;
    line-height: 13px;
    width: 108px;
    height: 14px;
    text-transform: uppercase;
    margin-top: 103px;
    margin-left: 180px; }
  .contact__left-side-subtitle {
    color: #fff;
    font-size: 64px;
    line-height: 79px;
    width: 704px;
    height: 66px;
    margin: 230px 76px 75px 180px; }
  .contact__left-side-paragraph {
    color: #fff;
    font-size: 36px;
    line-height: 56px;
    width: 579px;
    height: 227px;
    margin-left: 180px;
    margin-right: 201px; }
  .contact__leftt-side-footer {
    color: #62D0DF;
    font-size: 16px;
    line-height: 42px;
    width: 518px;
    height: 43px;
    margin-left: 180px; }

.info {
  margin: 0 auto;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .info__right-side {
    width: 873px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

.right-side__information {
  margin-top: 98px;
  margin-left: 68px; }

.right-side__information-title {
  color: #22356F;
  font-size: 14px;
  line-height: 9px;
  width: 240px;
  height: 48px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700; }

.right-side__information-text {
  color: #22356F;
  font-size: 14px;
  line-height: 24.5px;
  width: 207px;
  height: 115px;
  opacity: 50%;
  margin-bottom: 99px; }

.right-side__contacts {
  margin-top: 98px;
  margin-left: 23px; }

.right-side__contacts-title {
  color: #22356F;
  font-size: 14px;
  line-height: 9px;
  width: 240px;
  height: 48px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700; }

.right-side__contacts-text {
  color: #22356F;
  font-size: 14px;
  line-height: 24px;
  width: 240px;
  height: 115px; }

.right-side__contacts-paragraph {
  opacity: 50%; }

.right-side__hours {
  margin-top: 98px;
  margin-left: 22px; }

.right-side__hours-title {
  color: #22356F;
  font-size: 14px;
  line-height: 9px;
  width: 240px;
  height: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase; }

.right-side__hours-text {
  color: #22356F;
  font-size: 14px;
  line-height: 24px;
  width: 240px;
  height: 115px;
  opacity: 50%; }

.footer {
  margin: 0 auto;
  width: 1440px;
  background: #62D0DF;
  height: 80px; }
  .footer__title {
    color: #fff;
    margin-left: 179px;
    line-height: 80px;
    font-weight: 700; }
  .footer__title h2 {
    display: inline-block;
    margin-right: 6px; }
